<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/home.css" />
<script src="https://unpkg.com/threejs-toys@0.0.8/build/threejs-toys.module.cdn.min.js"></script>


<body>
  <div id="app" >
    <div id="hero">
      
  <div class="home-container">
    <div class="navigation-menu">
      <ul class="nav justify-content-center">
        
        <li class="nav-item" style="cursor: pointer">
          
          <a class="nav-link active" href="/admin">Home</a>
        </li>
        <% if(!member) { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/login">Login</a>
        </li>
        <% } else { %>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/product/all">Menu</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
        <% } %>
      </ul>
    </div >
    <h1>TinyTots</h1>
      </div>
    </div>
  <script type="module" src="/js/home.js"></script>
  </body>

<%- include('includes/footer') %>
