<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/signup.css" />
<body>
  <div class="container right-panel-active">
        <!-- Sign In -->

        <div class="container__form container--signin">
          <form class="form" id="form2" action="/admin/login" METHOD="POST">
            <h2 class="form__title">Login</h2>
            <input
              type="text"
              placeholder="Admin"
              class="input"
              name="memberNick"
              required
            />
            <input
              type="password"
              placeholder="Password"
              class="input"
              name="memberPassword"
              required
            />
            <button class="btn" name="login" type="submit">Login</button>
          </form>
        </div>
    
    <!-- Sign Up -->
    <div class="container__form container--signup">
      <form
        action="/admin/signup"
        class="form"
        id="form1"
        method="POST"
        enctype="multipart/form-data"
      >
        <h2 class="form__title">Sign Up</h2>
        <div>Go back <a href="/admin" style="color: #6440fb">Home</a></div>
        <input
          type="text"
          placeholder="Admin"
          class="input"
          name="memberNick"
          required
        />
        <input
          type="text"
          placeholder="Phone"
          class="input"
          name="memberPhone"
          required
        />
        <input
          type="password"
          placeholder="Password"
          class="input"
          name="memberPassword"
          required
        />
        <input
          type="password"
          placeholder="RepeatPassword"
          class="input"
          name="confirmPassword"
          required
        />
        <div class="upload-container">
          <div
            class="file-box bs3-primary preview-image"
            style="margin-top: 15px; display: flex"
          >
            <input
              class="input"
              value="Choose image"
              disabled="disabled"
              required
            />

            <input
              type="file"
              id="input-image"
              class="input"
              name="memberImage"
              required
            />
          </div>
          <p class="thumbnail-desc">
            Attention only:.jpg, .jpeg, or .png. <br />
            formats allowed!
          </p>
        </div>
        <input name="memberType" value="RESTAURANT" hidden />

        <button class="btn" name="signup" type="submit">Sign Up</button>
      </form>
    </div>


    <!-- Overlay -->
    <div class="container__overlay">
      <div class="overlay">
        <div class="overlay__panel overlay--right">
          <button class="btn" id="signUp">Sign Up</button>
        </div>
        <div class="overlay__panel overlay--left">
          <button class="btn" id="signIn">Login</button>
        </div>
      
      </div>
    </div>
  </div>

  <script type="text/javascript" src="/js/signup.js"></script>
</body>

<%- include('includes/footer') %>
